// Remove import for production use.
@import "nixos-site.css";

@import "app";
@import "bsod";
@import "spinner";

#no-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.loading {
	strong {
		display: block;
	}
	em {
		color: #666;
	}
}

.app {
	margin: 0;
}
